[submodule "pure"]
    path = pure
    url = https://github.com/sindresorhus/pure.git
[submodule "plugins/zsh-vi-mode"]
    path = plugins/zsh-vi-mode
    url = git@github.com:jeffreytse/zsh-vi-mode.git
[submodule "plugins/zsh-autosuggestions"]
    path = plugins/zsh-autosuggestions
    url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "plugins/fast-syntax-highlighting"]
    path = plugins/fast-syntax-highlighting
    url = git@github.com:zdharma/fast-syntax-highlighting.git
